*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url(../images/imagem-para-background.jpg);  */
    background-color: rgb(189, 195, 205);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%; /* Largura */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* MAIN -  CONTEUDO PRINCIPAL */
.content{
    width: 75vw;

}

/* TITULO DO SITE */
.title-main{ 
font-size: 30px;            /* Tamanho da Fonte*/
display: flex;              /* Comportamente *Pesquisar* */
width: 100%;                /* Largura */ 
height: 60px;               /* Altura*/
text-align: center;         /* Alinhar o texto no meio da DIV */
align-items: center;        /* Alinha o texto no eixo */
justify-content: center;    /* Alinha do eixo principal do Flebox */
margin-bottom: 25px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* SEÇÃO MAPA E TEXTO */
.sec-location-main {
    display: flex;  /* Alinhar os Filhos depois */
    align-items: center; /* Alinhado verticalmente */ 
    position: relative; /* Para ficar preso apenas a essa seção por isso o Relative */
    overflow: hidden; /* Vai esconder o que passar  do limite da seção */
  }
  
  
  .location-information {
    width: 30%;
    padding: 10px;
    text-align: center;
    font-size: 25px;
    color: black;
    
  }
  
  .sec-location-map {
    width: 70%;
    padding: 1px;
  }
  
  .icon-location {
    margin-bottom: 15px;
    font-size: 55px;
  }


  /* SEÇÃO DE EMAIL | CONTATO | REDES SOCIAIS*/
.main-contact{
    display: flex;
    align-items: center;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
    gap: 20px;
    padding: 20px;  
}  

.main-email, .main-telephone, .main-social-media{
    width: 33.3%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
}

a {
    color: black;
    text-decoration: none;
    position: relative;
  }
  
a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transition: width 0.3s ease;
  }
  
a {
    color: black;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
 a:hover {
    color: rgb(158, 115, 34);
}

.title{
    font-size: 20px;
    margin-bottom: 10px;
}

.icon-rede{
    font-size: 30px;
    margin: 10px;
}
  



